<div id="preloader">
    <div class="preloader-wrapper">
        <div class="logo-container">
            <img src="../assets/los_papus/logo.png" alt="Splash Logo" class="splash-logo">
            <div class="logo-glow"></div>
        </div>
        <h5>Cargando...</h5>
        <% if (splash_text.length > 0) { %>
            <span><%=splash_text %></span>
        <% } else { %>
            <span>Aqui iria un texto... ¡tan solo si la función que leé los archivos funcionara!</span>
         <% } %> 
    </div>
    <div class="media-container">
        <label>¡Únete a la comunidad!</label>
        <ul class="social-list">
            <li>
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://discord.gg/kMvmrT3M"><i class="fa-brands fa-discord"></i></a>
            </li> 
        </ul>
    </div>
</div>